*
{
    margin: 0;
}
html, body
{
    height: 100vh;
    background-color: #ededed;
}
.task
{

    flex: 1 0 auto;
}
.footer
{

    flex: 0 0 auto;
    align-items: center;
    text-align: center;
    height: 10%;
    background-color: #e7e7e7;
    margin: 0 5% 0;


}
.content
{
    margin: 0 5% 0;
    display: flex;
    flex-direction: column;
    background-color: #e7e7e7;
    font: 15pt sans;
    align-items: center;
}
.header
{
    background-color: #d2d2d2;
    height: 10%;
}
.taskTitle
{
    text-align: center;
    margin-top: 1.5%;
}
.taskText
{
    margin: 1% 20%;
    text-align: left;
}
.creators
{
    text-align: center;
    align-items: center;
    font: 15pt sans;
    position:absolute;
    bottom:0;
    align-self: center;
}
.authorsLinks
{
    margin: 1% 33px;
}